.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

/* Global styles here */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Light Gray background */
  color: #333; /* Dark Gray text color */
}

h1, h2 {
  font-family: "Times New Roman", serif; /* Serif font for headings */
}

a {
  color: #007700; /* Green for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.button {
  background-color: #ff9900; /* Orange for call to action buttons */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
  background-color: #ff6600; /* Darker orange on hover */
}
